name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'
  workflow_dispatch:

concurrency:
  group: ci-${{ github.ref }} 
  cancel-in-progress: true

jobs:
  linting:
    runs-on: macos-26
    steps:
      - uses: actions/checkout@v3
      - name: "Run Lint"
        run: |
          brew update
          brew upgrade swiftformat
          swiftformat . --lint

  unittest:
    runs-on: macos-26
    needs:
      - linting
    strategy:
      matrix:
        xcode: ['14.1']
    steps:
      - uses: actions/checkout@v3
      - name: "Select Xcode ${{ matrix.xcode }}"
        run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
      - name: "Clean and init submodules"
        run: make init
      - name: "Run test in debug"
        run: make testdebug
      - name: "Run test in production"
        run: make testprod